@media only screen and (min-width: 37.5em) {
    
    button { display: none; }  /* hamburger button does not need to be shown in the medium on up views */
    
    .ten { 
    display: inline-block; 
    flex-wrap: wrap;
    text-align: center;
    padding: 40px;
    margin: 40px; }  /* show the 10-day forecast with the medium view and up */
    
    nav ul{
        flex-direction: row;
        display: flex;
        width: 96%;
    }
   .column {
    flex: 50%;
    }
    
    .imagegrid{
        flex: 50%;
    }
    
    /*---home page----*/
    .story{
        
    }
    
    .towns{
        
    }
   
  }