@media only screen and (min-width: 64em) {

  /* ---------- nav ---------- */

  nav ul li a {
    padding: 8px 16px;
  }

  nav ul.hide {
    width: 960px;
  }

  /* ---------- adventure tours ---------- */

  main {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  .pic {
    flex-flow: column nowrap;
  }

  h3 {
    font-size: 1.375rem;
    line-height: 1.375rem;
    padding: 30px 0px;
  }

 /* ---------- tours and sales page ---------- */

  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .box-shadow:hover {
    box-shadow: 7px 7px 10px gray;
    background-color: #fafafa;
    border: 1px solid #696969;
  }

/* ---------- home page ---------- */

  div.view {
    display: flex;
  }

  .webdata, .biking {
    display: flex;
    flex-flow: column;
    box-shadow: 5px 5px 5px #ececec;
    padding: 0px 20px 20px 20px;
    border: 1px solid #6c7c56;
    margin: 20px auto 0px auto;
  }

  .headline {
    padding: 10px 0px 0px 0px;
    margin: 0px;
  }

  .headline div {
    height: 265px;
    margin-top: 0px;
  }

  .headline img {
    padding: 0px 0px 0px 20px;
  }

  .webdata img {
    order: 1;
  }

  .webdata div {
    min-height: 20px;
    padding: 0px;
  }

  .webdata img, .webdata div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px;
  }

  .webdata div {
    box-shadow: none;
  }
    
/*--contact--*/
    .map{
        justify-content: center;
         width: 800px; 
        height: 600px; 
        
        
    }


}
